
/* ----- Import Typographies ----- */
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,300i,400,400i,500,500i,700');

/* ----- Elements ----- */
/* --- 1.Les balises */
body{
  font-family: 'Cormorant Garamond', serif;
  background-color:#f6f6f7;
}
header{
  width: 50%;
  margin: 10% auto 5%;
}
section{
  width: 100%;
  display: inline-block;
}
footer{
  margin: auto;
  width: 50%;
  text-align: center;
  margin-bottom: 20%;
  font-weight: bold;
  }
  footer p{
    text-transform: uppercase;
  }
  footer em{
    font-style: italic;
    font-size: 2.5vw;
    line-height: 2rem;
  }
nav{
  text-align: center;
}
nav ul li{
  display: inline-block;
}
a{
  text-decoration: none;
  color: inherit;
}
/* --- 2.Les ID */
#gout{
  margin-bottom: 10%;
}

/* ----- Objects et abstractions ----- */
.titre{
  text-transform: uppercase;
  font-size: 3rem;
  letter-spacing: 0.2em;
  text-align: center;
  }
  header h2.titre, footer h5.titre{
    color: #cf884d;
    font-weight: bold;
    font-size: 0.65rem
  }
  footer h5.titre{
    color: black;
    font-size: 1rem;
    padding: 3.5rem 0;
    background-image: url("../img/plan.png");
    background-repeat: no-repeat;
    background-position: center;
  }

.case{
  margin: 0;
  width:49.94%;
  height:auto;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  }
  #salle .case:first-child, #service .case:last-child, #dressage .case:first-child, #gout .case:last-child{
    padding: 3%;
    width: 43.3%;
  }
  .case img{
    width:100%;
    height: auto;
  }
  /*Ajancement du texte*/
  .case h3{
    text-transform: uppercase;
    font-size:4vw;
    font-weight: bold;
  }
  .case p{
    font-style: italic;
    font-size: 2.5vw;
    }
    .case p:last-of-type{
      margin-bottom: 5%;
    }
  .case span{
    color: white;
    background-color: #383838;
    text-transform: uppercase;
    font-size: 2vw;
    padding:1% 7% 1% 2%;
    margin-top:2%;
  }
  .case i{
    font-size: 1.5vw;
    margin:0 0.5%;
  }
  /* --- pack-shot --- */
  #packShot .case{
    width:49%;
    text-align: right;
  }
  #packShot .case:last-of-type{
    position: relative;
    right: 15%
  }
  #packShot .case img{
    border-radius:50%;
    width: 80%;
    display: block;
    margin: auto;
  }
  #packShot .case h3{
    font-style: italic;
    text-transform: inherit;
    font-size: 2vw;
  }
  #packShot .case p{
    text-transform: uppercase;
    font-style: normal;
    font-size: 1.9vw;
    letter-spacing:0.1rem;
  }

/* ----- Composants ----- */
  /*Ici se trouve les elements fonctionnels -- ex: .active*/
/* ----- Atouts de style ----- */
  /*Ici se trouve les elements interactif et animations*/
